<h1>Editing Post</h1>

<%= render 'form', parking_space: @parking_space %>

<%= link_to 'Show', @parking_space %> |
<%= link_to 'Delete', @parking_space, method: :delete, data: { confirm: 'Are you sure?' } %> | 
<%= link_to 'Back', parking_space_path %>
