<h1>Payment</h1>
<h3>Thanks, you paid €<span><%= @amount2 %></span>!</h3>
<h3>You're spot has now been reserved</h3>
<p>You will be redirected in 5 seconds</p>

<script>
    var timer = setTimeout(function() {
        window.location='/home/index'
    }, 5000);
</script>